{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-10 offset-1">
    <div class="card">
      <div class="card-content">
        <img src = "{{photo.image_link}}" class="card-img">
        <span class="card-title">{{ photo.name }}</span>
        <p>Description: {{ photo.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'photo_update' photo.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'photo_delete' photo.id %}" class="btn btn-danger">Delete</a>
      </div>

      <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              {% for album in albums.all %}
                <option value="">{{ album.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        </div>
      </form>

    </div>
  </div>
</div>


<div class="col s6">
    <h3>Available albums</h3>
    {% if albums.count %}
      {% for album in albums.all %}
        <div class="card">
          <div class="card-content">
            <div class="card-content">
            <a href="{% url 'photos_detail' photo.id %}">
              <h5>{{album.name}}</h5>
            </a>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_photo' album.id photo.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{photo.name}} Already Has All albums Available</h5>
    {% endif %}
</div>



<script>
  $.ajax({
  method: "GET",
  url: `http://localhost:8000/albums`,
  success: function(res) {
      console.log("yes");
  },
  error: (err) => {
      console.log(err);
  },
});
    
  // function showoptions () {
  // const pathname = window.location.pathname.split( '/' )[2];
  // console.log(pathname);
  // useralbums = [];
  // for (album in albums) {
  //   let albumoption = document.createElement(`<option id=${pathname}></option>`);
  //   document.findElementById("inlineFormCustomSelect").append(albumoption);
  //   document.findElementById("inlineFormCustomSelect").innerHTML(`${album.name}`);
  // };
  // console.log(album.name);
  // }
  // showoptions();
</script>
{% endblock %}
