{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 bg-light" style = "text-align: center;">
      <img class = "mt-2" id = "sri" src="https://i.imgur.com/YqKAU5g.jpg" alt="sri" height = "160" width = "160">
      <h3>Srirang Subramanian</h3>
      <p>My favorite camera is the Canon EOS Rebel T7i!</p>
    </div>
    <div class="col-md-4 bg-dark text-light" style = "text-align: center;">
      <img class = "mt-2"id = "sammy" src="https://i.imgur.com/SNvUU7k.png" alt="sammy" height = "160" width = "160">
      <h3>Sammy Consani</h3>
      <p>My favorite camera is the Hasselblad!</p>
    </div>
    <div class="col-md-4 bg-light" style = "text-align: center;">
      <img class = "mt-2" id = "jimmy" src="https://i.imgur.com/GIQnHe2.jpg" alt="jimmy" height = "160" width = "160">
      <h3>Jimmy Chen</h3>
      <p>Take photos and share your favorite ones!</p>
    </div>
  </div>
{% endblock %}
