{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>inFrared</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark pt-3 pb-3 mb-5">
      <div class="container">
        <a class="navbar-brand" href="/">inFrared</a>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="/albums" class="nav-link">Albums</a></li>
            <li class="nav-item"><a href="/photos" class="nav-link">Photos</a></li>
            <li class="nav-item"><a href="{% url 'album_createalbum' %}">Create an Album</a></li>
            <li class="nav-item nav-link"><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer bg-dark">
    <div class="right">CREATED BY SSJ</div>
  </footer>
</body>
</html>