{% extends 'base.html' %}
{% block content %}

<div id="photogrid"></div>
<!-- {% for album in albums %} -->
<script>
	album forEach(photo => {
		$(“#photogrid”).append(`${albumPhotos(album)}`)
	});
function albumPhotos (album) {
	return 
	`<div class="container my-4">
		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4">
        		<img src="{{album.photos.image_link}}" class="img-fluid mb-4" style= "width:250 ; height:auto;">
      		</div>
    	</div>
	</div>
	`;
};
// <div class="container my-4">
// 	<div class="row">
// 		<div class="col-lg-4 col-md-12 mb-4">
//         	<img src="{{album.photos.image_link}}" class="img-fluid mb-4" style= "width:250 ; height:auto;">
//         	<img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" class="img-fluid mb-4" alt=""
//           data-wow-delay="0.3s">
//       	</div>
//     </div>
// </div>

</script>
<!-- {% endfor %} -->

{% endblock %}