{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s6">
    <h3>{{ album.name }}'s photos</h3>
    {% if photos.count %}
      {% for photo in photos %}
        <div class="card">
          <div class="card-content">
            <a href="{% url 'photos_detail' photo.id %}">
              <img src = "{{photo.image_link}}" class="card-img">
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No photos :(</h5>
    {% endif %}
  </div>
<!--   <div class="col s6">
    <h3>Available photos</h3>
    {% if photos.count %}
      {% for photo in photos.all %}
        <div class="card">
          <div class="card-content">
            <div class="card-content">
            <a href="{% url 'photos_detail' photo.id %}">
              <img src = "{{photo.image_link}}" class="card-img">
            </a>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_photo' album.id photo.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{album.name}} Already Has All photos Available</h5>
    {% endif %} -->
</div>


{% endblock %}